
body{
font-family:Arial;
background:#211047;
color:white;
margin:0;
padding:30px;
}
header{text-align:center}
button,input{
padding:10px;
margin:10px;
}
.cards{
display:flex;
gap:15px;
flex-wrap:wrap;
}
.card,.panel{
background:#43267d;
border-radius:15px;
padding:25px;
margin-top:20px;
}
.card{
width:180px;
text-align:center;
}
.panel{
margin-top:25px;
}
