
body{
font-family:Arial;
background:#24104f;
color:white;
padding:30px;
}
.cards{
display:flex;
gap:15px;
flex-wrap:wrap;
}
.card,.panel{
background:#43257c;
padding:25px;
border-radius:15px;
margin-top:20px;
}
.card{
width:180px;
text-align:center;
}
button{
padding:12px 20px;
cursor:pointer;
}
